# Database configuration
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=test_pools_app
DB_USER=root
DB_PASS=

# Environment (dev or prod)
ENV=dev

SCRAPER_API_USERNAME=
SCRAPER_API_PASSWORD=
SCRAPER_API_BASE_URL=http://localhost/pool-my-finger/src/backend/api